<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="main automation" parallel="methods" thread-count="2">

    <test name="Regression">
        
        <classes>
            <class name="cashwise.CashwiseHomeTests"/>
            <class name="studymate.StudyMateTests"/>
            <class name="cashwise.CashwiseDashboardTests"/>
        </classes>

    </test>

</suite>